* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

header .image-container {
    display: flex;
    padding: 0 50px;
}

header img {
    display: flex;
    border: black solid 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: 0 -25px;
}

header .title-content {
    margin: 50px;
}

header h1 {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    font-size: 50px;
    margin-right: 15px;
}

header nav h2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav h2 ul li a {
    font-size: 20px;
    text-align: right;
    padding: 0 10px;
    margin: 0 10px;
    font-weight: lighter;
    color: honeydew;
    text-decoration: none;
    border-radius: 5px 5px;
} 

header nav h2 ul li a:hover {
    font-size: 20px;
    font-weight: lighter;
    color: black;
    background-color: honeydew;
} 

.color-stripe {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 150px;
    z-index: -10;
    background-color: grey;
}

/* Secition Header Elements */
.flex-card , .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section-title {
    width: 100%;
    font-size: 30px;
    padding: 5px 50px;
    margin: 50px 0;
    background-color: rgba(100, 100, 100, 0.2);
}

.flex-card .image-container , .portfolio .image-container {
    display: inline-block;
    width: 15%;
    min-width: 190px;
    margin-right: 50px;
}

.flex-card .image-container img , .portfolio .image-container img {
    display: inline-block;
    width: 100%;
    margin-right: 50px;
}

.flex-text , .project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    border-left: black solid 5px;
    padding: 0 50px;
}

.project-gallery .hero-project img {
    width: 100%;
    padding: 0 10px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.hero-project {
    position: relative;
}

.hero-project .project-text {
    position: absolute;
    bottom: 10%;
    background-color: grey;
    color: honeydew;
    padding: 10px 20px;
    width: 40%;
    min-width: 350px;
    border: black solid 3px;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.hero-project .project-text h4 {
    color: black;
    font-size: x-large;
}

.project {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 48%;
}

.project-gallery .project img {
    width: 100%;
    padding: 0 10px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.project .project-text {
    position: absolute;
    bottom: 10%;
    background-color: grey;
    color: honeydew;
    padding: 1vh 20px;
    width: 60%;
    min-width: 250px;
    border: black solid 3px;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.project .project-text h4 {
    color: black;
    font-size: x-large;
}